@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.pageContainer {
  padding: 5rem;
  background-color: #fef8f0;
  border-radius: 12px;
  margin-bottom: 8vh;
  animation: fadeInUp 0.6s ease-out;
}

@media (max-width: 768px) {
    .pageContainer {
        padding: 2rem;
        margin-bottom: 12vh;
    }

.notifyAllBtn,
.addBtn {
    min-width: 85vw;
}
}

.title {
  color: #cc6600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.actionsRow {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.notifyAllBtn,
.addBtn {
  background-color: #ff914d;
  color: #fef8f0;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.3s ease;
  width: 20vw ;
}

.notifyAllBtn:hover,
.addBtn:hover {
  background-color: #ff7b2f;
  transform: translateY(-2px);
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}
